html,
body {
    background-color: #fff;
}
//字体
.black-big{
    color: #333;
    font-size: 16px;
}

.black-medium{
    color: #333;
    font-size: 14px;
}
.black-small{
    color: #333;
    font-size: 12px;
}
.black-micro{
    color: #333;
    font-size: 10px;
}
.grey-big{
    color: #a2a2a2;
    font-size: 16px;
}
.grey-medium{
    color: #a2a2a2;
    font-size: 14px;
}
.grey-small{
    color: #a2a2a2;
    font-size: 12px;
}
.grey-micro{
    color: #a2a2a2;
    font-size: 10px;
}
.orange-big{
    color: #f79709;
    font-size: 16px;
}
.orange-medium{
    color: #f79709;
    font-size: 14px;
}
.orange-small{
    color: #f79709;
    font-size: 12px;
}
.orange-micro{
    color: #f79709;
    font-size: 10px;
}


.mui-content{
    background: #fff;
}
.mui-bar-nav{
    box-shadow: none;
}
//*{ 
//  touch-action: none;
//} 
.wrap-search{
    margin: 15px;
    background-color: #e6e6e6;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    color: #AAAAAA;
}


#home{
//  .mui-scroll-wrapper{
//      margin-top: 50px;
//  }
    .mui-table-view{
        img{
            width: 60px;
            height: 90px;
            margin-right: 10px;
        }
    }
}


#detail{
    .banner{
        text-align: center;
        background: #3c3c3c;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-width: 100%;
            max-height: 300px;            
        }
    }
    .header{
        margin: 15px 15px 0;
        height: 90px;
        border-bottom: #ccc 0.5px solid;
        .title{
            line-height: 2;
        }
        .mark{
            width: 70px;
            height: 70px;
            background: white;
            text-align: center;
            box-shadow: 0 0 10px #aaa;
            padding: 5px;
        }
     
        
    }
    .description{
        padding: 15px;
    }
    .casts{
        p{
            padding-left: 15px;
        }
        ul{
            margin: 0;
            padding-left: 15px;
            overflow-x: scroll;
            white-space: nowrap;
            
            li{
                list-style-type: none;
                text-align: center;
                width: 70px;
                margin-right: 10px;
                display: inline-block;
                img{
                    max-width: 100%;
                    height: 100px;
                }
            }
            
        }
    }
    .comments{
        .title{
            background: #e6e6e6;
            line-height: 40px;
            text-align: center;
            margin-top: 15px;
        }
        p{
            white-space: normal;
        }
    }
}


#cast{
    .banner{
        text-align: center;
        background: #18d7d7;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-width: 100%;
            max-height: 300px;            
        }
    }
    .header{
        margin: 15px 15px 0;
        height: 90px;
        border-bottom: #ccc 0.5px solid;
        .title{
            line-height: 2;
        }
        .mark{
            width: 70px;
            height: 70px;
            background: white;
            text-align: center;
            box-shadow: 0 0 10px #aaa;
            padding: 5px;
        }
     
        
    } 
    .description{
        padding: 15px;
    }  
   .works{
        p{
            padding-left: 15px;
        }
        ul{
            margin: 0;
            padding-left: 15px;
            overflow-x: scroll;
            white-space: nowrap;
            
            li{
                list-style-type: none;
                text-align: center;
                width: 70px;
                margin-right: 10px;
                display: inline-block;
                img{
                    max-width: 100%;
                    height: 100px;
                }
            }
            
        }
    }
    .comments{
        .title{
            background: #e6e6e6;
            line-height: 40px;
            text-align: center;
            margin-top: 15px;
        }
        p{
            white-space: normal;
        }
    }     
}


#billboard{
    .mui-slider{
        height: 220px;
    }
    .flex{
        display: flex;
        flex-flow: row nowrap;
        flex: 1 1 0;
        height: 150px;
        text-align: center;
        background: #EEEEEE;
        .item{
            width: 50%;
            height: 100%;
            padding: 15px;
            &:first-child .inner{
                background: linear-gradient(#941ae6,#f1e0fc);
            }
            &:last-child .inner{
                background: linear-gradient(#3370cc,#cee1fd);
            }
            .inner{
                width: 100%;
                height: 100%;
                line-height: 100%;
                border-radius: 5px;
                display: table;
                .title{
                    color: white;
                    font-size: 18px;
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
    .coming{
        .title{
            padding: 15px 15px 5px;
        }
        img{
            width: 60px;
            height: 90px;
            margin-right: 10px;
        }
    }

}


#search{
    .search{
        width: 80%;
        display: inline-block;
        padding-left: 15px;
        margin-top: 15px;
        text-align: center;
    }
    #cancel{
        width: 20%;
        text-align: center;
        float: right;
        line-height: 30px;
        color: #a47ef8;
        font-size: 16px;
        margin-top: 15px;
    }
    .clear{
        color: #888888;
        background: #E6E6E6;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 12px;
        margin-top: -5px;
        line-height: 2;
        #clear-btn{
            color: #2a7cf8;
            float: right;
        }
    }
    .mui-table-view{
        img{
            width: 60px;
            height: 90px;
            margin-right: 10px;
        }
    }    
}

#about{
    padding: 15px;
}

.report{
    padding: 15px;
    
    textarea{
        border: 1px solid #eee;
        height: 50%;
    }
}