<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <h1 class="mui-title">榜单</h1>
		</header>
		
		<div id="billboard" class="mui-content">
			<div class="mui-slider">
			  <div class="mui-slider-group">
			    <div class="mui-slider-item">
			    	<a href="#"><img src="../images/bill_01.jpg" alt="" /></a>
			    </div>
			    <div class="mui-slider-item">
			    	<a href="#"><img src="../images/bill_02.jpg" alt="" /></a>
			    </div>
			    <div class="mui-slider-item">
			    	<a href="#"><img src="../images/bill_03.jpg" alt="" /></a>
			    </div>
			  </div>
			</div>
			<div class="flex">
				<div id="top100" class="item">
					<div class="inner">
						<span class="title">豆瓣Top100</span>
					</div>
				</div>
				<div id="topUs" class="item">
					<div class="inner">
						<span class="title">北美票房榜</span>
					</div>
				</div>
			</div>
			<div class="coming">
				<div class="black-meduim title">即将上映</div>
				<ul class="mui-table-view">
				    <li class="mui-table-view-cell" v-for="item in movies" @tap="open_detail(item)">
			            <img class="mui-pull-left" :src="item.cover">
			            <div class="mui-media-body">
			                <div class="black-big">{{item.title}}</div>
			                <div>
			                	<span class="grey-small">{{item.genres}}</span>&nbsp;
			                	<span class="orange-small" v-if="item.score>0">{{item.score}}分</span>
			                	<span class="orange-small" v-else>暂无评分</span>
			                </div>
			                <div class="grey-small">导演：{{item.directors}}</div>
			                <div class="grey-small mui-ellipsis">主演：{{item.casts}}</div>
			            </div>
			            <button type="button" class="mui-btn mui-btn-warning mui-btn-outlined">想看</button>
				    </li>
				    
				</ul>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script>
			mui.init();
			mui(".mui-slider").slider();
			
			var data_movies = new Vue({
				el:'#billboard',
				data:{
					movies:[]
				},
				methods:{
					open_detail:function(item){
						mui.openWindow({
							url:'./movie-detail.html',
							id:'movie-detail',
							extras:{
								movieId: item.id
							},
						    show:{
						      autoShow:false
						    }
						});					
	                }					
				}
			});
			
			mui.getJSON('https://api.douban.com/v2/movie/coming_soon',{
				start:0,
				count:10
			},function(res) {
				data_movies.movies = data_movies.movies.concat(convertJson(res.subjects));
			});
			
			//数据转换
			function convertJson (items) {
				var newItems = [];
				
				items.forEach(function(item){
					var genres = item.genres.toString().replace(/,/g,' / ');
					var directors = '';
					for (var i=0;i<item.directors.length;i++) {
						directors += item.directors[i].name;
						if(i != item.directors.length - 1){
							directors += ' / '
						}
					}
					var casts = '';
					for (var i=0;i<item.casts.length;i++) {
						casts += item.casts[i].name;
						if(i != item.casts.length - 1){
							casts += ' / '
						}
					}
					newItems.push({
						id:item.id,
						title:item.title,
						cover:item.images.large,
						score:item.rating.average,
						genres:genres,
						directors:directors,
						casts:casts
						
					})
				});
				return newItems;
			}
			
			//top250
			mui('#top100')[0].addEventListener('tap',function(){
				mui.openWindow({
					url:'./top-billboard.html',
					id:'top-billboard'
				})
			});
			mui('#topUs')[0].addEventListener('tap',function(){
				mui.openWindow({
					url:'./us-billboard.html',
					id:'us-billboard'
				})
			})
		</script>
	</body>

</html>